[*.cs]

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = silent

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = silent

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = suggestion
